.header .logo{
	width: 120px;
  height: 31px;
  margin: 16px 28px 16px 0;
  float: left;
  font-size: 31px;
  line-height: 31px;
  color: #fff;

}
.header .ant-dropdown-link{
	float: right;
	margin-right: 20px;
	  color: #fff;
}